
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  margin-top: 40px;
  background-color: #f8f8f8;
}

.smCard {
  margin: 5px
}

.card-title {
  padding: 5px;
  font-weight: 600;
  text-align: center;
  font-size: 28px;
}

.card-text {
  text-align: center;
  font-size: 22px;
  padding: 5px;
}

.country {
  background-color: #f2f2f2;
  margin: 10px;
  border-radius: 20px;
  padding: 5px;
}

.c-align {
  text-align: center;
  font-size: 16px;
}

.c-color {
  height: 30px;
  width: 30px;
  margin: 10px;
  border-radius: 30px;
  padding: 5px;
}

.title{
  font-size: 24px;
}

.c-grey {
  color: grey;
  font-size: 18px;
}

.margin-0{
    margin-left: -100px;
}

.hidden { display:none; }